.content {
    margin: 1em;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}
.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 4em;
}