<!DOCTYPE html>
<html lang="RU_ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Главная страница{% endblock title %}</title>

    {% block metas %}
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% endblock metas %}

    {% block styles %}
    <link href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet">
    {% endblock styles %}

</head>

<body>
    <div class="main">
        {% block left_navbar %}
        {% include "left_navbar.html" %}
        {% endblock left_navbar %}

        <div class="data">
            {% block content %}
            <div class="header">
                <h1>Главная страница</h1>
            </div>
    
            <h2>Заголовок контента</h2>
            <div class="content">
                <p>Текст страницы</p>
            </div>
            {% endblock content %}
        </div>
    </div>

    {% block footer %}
    <footer>
        <div class="footer">
            <p> Автор &copy; 2022г. </p>
        </div>
    </footer>
    {% endblock footer %}

</body>

{% block scripts %}
<script type="text/JavaScript" src="{{ url_for('static', filename = 'js/vue.min.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename = 'js/jquery-2.1.4.min.js') }}"></script>
{% endblock scripts %}

</body>

</html>