{% block left_navbar %}
<div class="left_navbar">
    <ul class="navigation_menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/persons">Пользователи</a></li>
        <li><a href="/vehicles">Автомобили</a></li>
    </ul>
</div>
{% endblock left_navbar %}