{% extends "base.html" %}

{% block title %}
Страница Автомобилей
{% endblock title %}

{% block content %}
<div class="header">
    <h1>Страница Автомобилей</h1>
</div>

<div class="filter">
    <input name="filter" id="filter" type="text" placeholder="Поиск" oninput="custom_filter(this)">
</div>

<div class="datatable">
    <table>
        <thead>
            <tr>
                <th v-for="(label) in labels.vehicle"> {* label *} </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(vehicle) in data">
                <td> {* vehicle.id *} </td>
                <td> {* vehicle.model *} </td>
                <td> {* vehicle.brand *} </td>
                <td> {* vehicle.number *} </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script type="text/JavaScript" src="{{ url_for('static', filename='js/datatable.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename='js/vehicles.js') }}"></script>
{% endblock scripts %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'css/datatable.css') }}" rel="stylesheet">
{% endblock styles %}